{% extends 'frontend.html.twig' %}


{% block body %}

    <form class="m-5 p-5 border rounded-5 border-primary border-2 p-5">
        <legend>Datos de la reserva</legend>
        {{form(form_reserva)}}
    </form>
{% endblock %}